@model AlbumViewModel

@{
    ViewData["Title"] = "Remover álbum";
}

<h1>@ViewData["Title"]</h1>

<hr />

<div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Nome" class="control-label"></label>
            <input asp-for="Nome" class="form-control" disabled />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-3">
            <label asp-for="AnoLancamento" class="control-label"></label>
            <input asp-for="AnoLancamento" class="form-control" disabled />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Artista" class="control-label"></label>
            <input asp-for="Artista" class="form-control" disabled />
        </div>
    </div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Remover" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Voltar</a>
    </form>
</div>
